{% extends "assets/xtrend/layout.html" %}

{% block title %} {{InstrumentID}} analysis {% endblock %}

{% block scripts %}
{% load static %}
<script type="text/javascript" src="//d3js.org/d3.v4.min.js"></script>
<script type="text/javascript" src="{% static 'xtrend/graph.js' %}"></script>
<script type="text/javascript">
    xtrendLoadGraph("{{InstrumentID}}");
</script>
{% endblock %}

{% block body %}
{% load l10n %}
<div class="row">
    <div class="columns small-4">
        <h2>{{InstrumentID}}</h2>
    </div>
    <div class="columns small-4">
        <h4>{{Rating}}</h4>
        <div class="success progress" style="width: 25%; background-color: #cc4b37;">
            <div class="progress-meter" style="width: {{RatingPercentage}}%"></div>
        </div>
    </div>
    <div class="columns small-4">
        <i>Trading at:</i> {{tradingAt}}
        <br />
        <i>Last Return:</i> {{lastReturn}}
    </div>
</div>
<hr />
<div class="row">
    <div class="columns small-12 graphContainer"></div>
</div>
<br><br>
<div class="row">
    <div class="columns small-12">
        <h3>Most Recent Articles:</h3>
    </div>
</div>
<div class="row">
    <div class="columns small-6">
        {% for article in ArticlesFirst %}
            <div class="card" style="padding: 20px">
                <div class="row">
                    <div class="columns small-11">
                        <h4>{{article.headline}}</h4>
                        <i>{{article.timestamp|localize}}</i>
                    </div>
                    <div class="columns small-1">
                        <img    title="{{article.polarity}}"
                                src="{{article.polarity_image}}"
                                style="height: 100%; width: 100%"/>
                    </div>
                </div>
                <hr />
                {{article.body | safe}}
                <p><a href="/coolbananas/xtrend/article/{{article.uri}}">Read more...</a></p>
            </div>
        {% endfor %}
    </div>
    <div class="columns small-6">
        {% for article in ArticlesSecond %}
            <div class="card" style="padding: 20px">
                <div class="row">
                    <div class="columns small-11">
                        <h4>{{article.headline}}</h4>
                        <i>{{article.timestamp|localize}}</i>
                    </div>
                    <div class="columns small-1">
                        <img    title="{{article.polarity}}"
                                src="{{article.polarity_image}}"
                                style="height: 100%; width: 100%"/>
                    </div>
                </div>
                <hr />
                {{article.body | safe}}
                <p><a href="/coolbananas/xtrend/article/{{article.uri}}">Read more...</a></p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}