{% extends "assets/xtrend/layout.html" %}

{% block title %} Article {{article.uri}} {% endblock %}

{% block body %}
{% load l10n %}
<div class="row">
    <div class="columns small-12">
        <div class="card" style="padding: 20px">
            <div class="row">
                <div class="columns small-11">
                    <h4>{{article.headline}}</h4>
                    <i>{{article.timestamp|localize}}</i>
                </div>
                <div class="columns small-1">
                    <img    title="{{article.polarity}}"
                            src="{{article.polarity_image}}"
                            style="height: 100%; width: 100%"/>
                </div>
            </div>
            <hr />
            {{article.body | safe}}
        </div>
    </div>
</div>
{% endblock %}
