{% extends "assets/xtrend/layout.html" %}

{% block title %} Home {% endblock %}

{% block styles %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'xtrend/xtrend.css' %}">
{% endblock %}

{% block body %}
<div class="middle">
    <div class="home-links">
        <div class="row">
            <div class="large-3 columns">
                <h4></h4>
            </div>
            <div class="large-3 columns">
                <h4><a href="/coolbananas/xtrend/search/">&#x1F50D; Search</a></h4>
            </div>
            <div class="large-3 columns">
                <h4><a onclick="$('#help-part').slideToggle();">&#x2139; Help</a></h4>
            </div>
            <div class="large-3 columns">
                <h4></h4>
            </div>
        </div>
    </div>
</div>
<div class="row middle" id="help-part">
    <div class="warning callout" style="text-align: center;">
        <div class="row">
            <div class="columns small-2">
                <p></p>
            </div>
            <div class="columns small-8">
                <h2>What is this?</h2>
            </div>
            <div class="columns small-2">
                <a onclick="$('#help-part').slideToggle();" class="button">Close</a>
            </div>
        </div>
        <p>Through complex algorithms, news articles and stock price changes are analysed and weighted to give a rating indicating how confident we are that a stock price will go up or down.</p>
        <p>The rating spans between -100 to 100, and allows you to compare different stocks.</p>
        <hr>
        <div class="row">
            <div class="columns small-4" style="padding-left: 10px; padding-right: 10px;">
                <h5>-52.2562</h5>
                <div class="success progress" style="width: 25%; margin: auto; background-color: #cc4b37;">
                    <div class="progress-meter" style="width: 23.9%"></div>
                </div>
                <p>A rating far below 0 indicates a stock that you should sell.</p>
            </div>
            <div class="columns small-4" style="padding-left: 10px; padding-right: 10px; border-left: 1px solid #cacaca; border-right: 1px solid #cacaca;">
                <h5>+3.2936</h5>
                <div class="success progress" style="width: 25%; margin: auto; background-color: #cc4b37;">
                    <div class="progress-meter" style="width: 51.1%"></div>
                </div>
                <p>A rating close to 0 indicates that there is either not enough information, or the stock is not likely to change much.</p>
            </div>
            <div class="columns small-4" style="padding-left: 10px; padding-right: 10px;">
                <h5>+48.0168</h5>
                <div class="success progress" style="width: 25%; margin: auto; background-color: #cc4b37;">
                    <div class="progress-meter" style="width: 74.0%"></div>
                </div>
                <p>A rating far above 0 indicates a stock that you should buy.</p>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row middle">
    <div class="buy-block">
        <h2>Best Buys</h2>
        {% for bb in BestBuys %}
            <div class="columns small-4">
                <h3><a href="/coolbananas/xtrend/analysis/{{bb.InstrumentID}}">{{bb.InstrumentID}}</a></h3>
                <h5>{{bb.Rating}}</h5>
                <div class="success progress" style="width: 25%; margin: auto; background-color: #cc4b37;">
                    <div class="progress-meter" style="width: {{bb.BarPercent}}%"></div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<br />
<div class="row middle">
    <div class="sell-block">
        <h2>Best Sells</h2>
        {% for bb in BestSells %}
            <div class="columns small-4">
                <h3><a href="/coolbananas/xtrend/analysis/{{bb.InstrumentID}}">{{bb.InstrumentID}}</a></h3>
                <h5>{{bb.Rating}}</h5>
                <div class="success progress" style="width: 25%; margin: auto; background-color: #cc4b37;">
                    <div class="progress-meter" style="width: {{bb.BarPercent}}%"></div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="footer">
    <br />
    <br />
    <br />
    <br />
    <pre style="text-align: center;">Team Cool Bananas</pre>
</div>
{% endblock %}