{% extends "assets/xtrend/layout.html" %}

{% block title %} Search Results {% endblock %}
{% load lookup%}

{% block body %}
<div class="row">
    <div class="columns small-12">
        <h4>Search Results
            <a href="/coolbananas/xtrend/search/" style="font-size: 16px">(back to search)</a>
        </h4>
    </div>
</div>
{% for i in range %}
    <div class="row">
        {% with results=searchResults|lookup:i %}
        <div class="columns small-4">
            <h2><a href="/coolbananas/xtrend/analysis/{{results.instrument_id}}">{{results.instrument_id}}</a></h2>
        </div>
        <div class="columns small-4">
            <h4>{{results.sentiment}}</h4>
            <div class="success progress" style="width: 25%; background-color: #cc4b37;">
                <div class="progress-meter" style="width: {{results.ratingPercentage}}%;"></div>
            </div>
        </div>
        <div class="columns small-4">
            <i>Trading at:</i> {{results.tradingAt}}
            <br />
            <i>Last Return:</i> {{results.lastReturn}}
        </div>
        {% endwith %}
    </div>

{% endfor %}
{% endblock %}