{% extends "assets/xtrend/layout.html" %}

{% block title %} Search {% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.2.0/nouislider.min.css">
<style>
    #slider .noUi-base {
        background: #14679e;
    }
    #slider .noUi-background {
        background: white;
    }
    #slider .noUi-connect {
        background: white;
    }
</style>
{% endblock %}

{% block scripts %}
{% load static %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.2.0/nouislider.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/wnumb/1.1.0/wNumb.min.js"></script>
<script type="text/javascript" src="{% static 'xtrend/pickers.js' %}"></script>
<script>
    var slider = document.getElementById('slider');
    var globalMode = 'buy';

    function createSlider(pos) {
        var currVal = 250;
        if (slider.noUiSlider) {
            currVal = slider.noUiSlider.get();
            slider.noUiSlider.destroy();
        }
        noUiSlider.create(slider, {
            start: currVal,
            connect: pos,
            tooltips: true,
            step: 1,
            format: wNumb({
                decimals: 0,
                prefix: '$'
            }),
            range: {
                'min': 0,
                '10%': 10,
                '32.36%': 50,
                '50%': 100,
                '75%': 500,
                'max': 1000
            },
            pips: {
                mode: 'range',
                density: 3,
                format: wNumb({
                    decimals: 0,
                    prefix: '$'
                })
            },
        });
    }

    createSlider("upper");

    function showBuy() {
        createSlider("upper");
        $("#big-buttons").hide();
        $("#small-buttons").show();
        $("#small-sell-button").removeClass("primary").addClass("secondary");
        $("#small-buy-button").removeClass("secondary").addClass("primary");
        $(".buy-sell").show();
        globalMode = 'buy';
    }

    function showSell() {
        createSlider("lower");
        $("#big-buttons").hide();
        $("#small-buttons").show();
        $("#small-buy-button").removeClass("primary").addClass("secondary");
        $("#small-sell-button").removeClass("secondary").addClass("primary");
        $(".buy-sell").show();
        globalMode = 'sell';
    }

    function doSearch() {
        var params = [
            ['mode', globalMode],
            ['range', slider.noUiSlider.get().substring(1)],
            ['instrument_id', Array.from(chosenRics).join(',')]
        ];
        return "/coolbananas/xtrend/search/results?" + params.map(function(a){ return a[0] + '=' + encodeURIComponent(a[1]); }).join('&');
    }

    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    var instrument_id = getParameterByName('instrument_id');
    if (instrument_id !== null) {
        var rics = instrument_id.split(',');
        rics.forEach(function(ric) {
            chosenRics.add(ric);
        });
        updateChosenRics();
    }
    var range = getParameterByName('range');
    if (range !== null) {
        slider.noUiSlider.set(parseInt(range));
    }
    var mode = getParameterByName('mode');
    if (mode === 'sell') {
        showSell();
    } else if (mode === 'buy') {
        showBuy();
    }
</script>
{% endblock %}

{% block body %}
<div class="row">
    <div class="columns small-12">
        <h1 style="text-align: center;">Search</h1>
    </div>
</div>
<div style="height: 30px"></div>
<div id="big-buttons">
    <div style="height: 30px">
        <br>
    </div>
    <div class="row">
        <div class="columns small-12">
            <button class="button primary" id="big-buy-button" onclick="showBuy()" style="width: 100%; font-size: 30px;">
                I am looking to Buy stocks.
            </button>
        </div>
    </div>
    <div style="height: 30px">
        <br>
    </div>
    <div class="row">
        <div class="columns small-12">
            <button class="button primary" id="big-sell-button" onclick="showSell()" style="width: 100%; font-size: 30px;">
                I am looking to Sell stocks.
            </button>
        </div>
    </div>
</div>
<div id="small-buttons" style="display: none;">
    <div class="row">
        <div class="columns small-6">
            <button class="button primary" id="small-buy-button" onclick="showBuy()" style="width: 100%;">
                I am looking to Buy stocks.
            </button>
        </div>
        <div class="columns small-6">
            <button class="button primary" id="small-sell-button" onclick="showSell()" style="width: 100%;">
                I am looking to Sell stocks.
            </button>
        </div>
    </div>
</div>
<form id="search" action="javascript:window.location.href = doSearch();">
    <div class="row buy-sell" style="display: none;">
        <div class="columns" id="ricpicker-container"></div>
    </div>
    <div class="row buy-sell" style="display: none;">
        <div class="columns">
            <label>Share Price Range</label>
            <br />
            <br />
            <div id="slider"></div>
            <br />
            <br />
        </div>
    </div>
    <div class="row buy-sell" style="display: none; height: 30px;">
        <br>
    </div>
    <div class="row buy-sell" style="display: none;">
        <button class="columns small-12 button" type="submit">Search</button>
    </div>
</form>
{% endblock %}