{% extends "assets/layout.html" %}

{% block title %}
Changelog
{% endblock %}

{% block styles %}
<style>
li p {
    line-height: normal;
    margin-bottom: initial;
}
</style>
{% endblock %}

{% block body %}
<div class="row">
    <div class="columns small-12">
        <h4>Changelog</h4>
    </div>
</div>
    {% for version in versions %}
        <div style="height: 30px"></div>
        <div class="row">
            <div class="columns small-12">
                <h5><a href="https://github.com/nickrobson/SENG3011/tree/{{version.version}}">{{version.display}}</a> ({{version.date}})</h5>
                <ul>
                    {% for change in version.changes %}
                        <li>{{change|safe}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
{% endblock %}
