{% extends "assets/layout.html" %}

{% block title %}
API Explorer
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="//rawgit.com/abodelot/jquery.json-viewer/master/json-viewer/jquery.json-viewer.css"></link>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css"></link>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.2/motion-ui.min.css"></link>
<link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet">
{% endblock %}

{% block scripts %}
{% load static %}
<script type="text/javascript" src="//rawgit.com/abodelot/jquery.json-viewer/master/json-viewer/jquery.json-viewer.js"></script>
<script type="text/javascript" src="{% static 'explorer.js' %}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js"></script>
{% endblock %}

{% block body %}
<div class="row">
    <div class="columns small-12">
        <h4>API Explorer</h4>
    </div>
</div>
<div style="height: 30px"></div>
<form id="explore">
    <div class="row">
        <div class="columns">
            <p>Don't know what this is? Go to the <a target="_blank" href="/coolbananas/documentation/">documentation</a>.</p>
            <p>Press <a href="javascript:fillExample()">this</a> for an example.</p>
        </div>
    </div>
    <div class="row">
        <div class="columns">
            <label>Instrument IDs
                <input type="text" id="explore-rics" placeholder="RIC1,RIC2,RIC3">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="columns">
            <label>Topic Codes
                <input type="text" id="explore-topics" placeholder="TopicCode1,TopicCode2,TopicCode3">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="columns">
            <label>Start Date
                <input type="datetime-local" id="explore-start-date" placeholder="yyyy-mm-dd'T'HH:MM">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="columns">
            <label>End Date
                <input type="datetime-local" id="explore-end-date" placeholder="yyyy-mm-dd'T'HH:MM">
            </label>
        </div>
    </div>
    <!-- <div class="row">
        <label>Unique Results?
            <input type="checkbox" id="explore-uniq" name="uniq" value="0">
        </label>
    </div> -->
    
    <div class="row">
        <div class="columns small-12 medium-8 small-centered medium-centered">
            <button class="button" type="button" onclick="viewNews()" style="width: 45%">View Formatted</button>
            <button class="button secondary" type="button" onclick="submitExplore()" style="width: 45%">View JSON</button>
        </div>
    </div>
</form>
<div class="row explore" style="display: none;">
    <div class="columns">
        <h5>Query:</h5>
    </div>
    <div class="columns">
        <pre id="explore-query"></pre>
    </div>
</div>
<br>
<div class="row explore" style="display: none;">
    <div class="columns">
        <h5>Result:</h5>
    </div>
    <div class="columns">
        <pre id="explore-result"></pre>
    </div>
</div>

<div class="row orbit html-articles" role="region" style="display: none; width: 85%; margin: auto;" data-orbit id="news-articles-container" data-use-m-u-i="false">
  <nav class="orbit-bullets" id="news-article-bullets"></nav>
   <button class="orbit-previous" style="color: #222; top: 10px;"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next" style="color: #222; top: 10px;"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
  <ul class="orbit-container" id="news-articles">
  </ul>
  
</div>


{% endblock %}