{% extends "assets/layout.html" %}

{% block title %}
API Explorer
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="//rawgit.com/abodelot/jquery.json-viewer/master/json-viewer/jquery.json-viewer.css"></link>
{% endblock %}

{% block scripts %}
{% load static %}
<script type="text/javascript" src="//rawgit.com/abodelot/jquery.json-viewer/master/json-viewer/jquery.json-viewer.js"></script>
<script type="text/javascript" src="{% static 'explorer.js' %}"></script>
{% endblock %}

{% block body %}
<div class="row">
    <div class="columns small-12">
        <h4>API Explorer</h4>
    </div>
</div>
<div style="height: 30px"></div>
<form id="explore">
    <div class="row">
        <div class="columns">
            <p>Don't know what this is? Go to the <a target="_blank" href="/coolbananas/documentation/">documentation</a>.</p>
            <p>Press <a href="javascript:fillExample()">this</a> for an example.</p>
        </div>
    </div>
    <div class="row">
        <div class="columns">
            <label>Instrument IDs
                <input type="text" id="explore-rics" placeholder="RIC1,RIC2,RIC3">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="columns">
            <label>Topic Codes
                <input type="text" id="explore-topics" placeholder="TopicCode1,TopicCode2,TopicCode3">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="columns">
            <label>Start Date
                <input type="datetime-local" id="explore-start-date" placeholder="yyyy-mm-dd'T'HH:MM">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="columns">
            <label>End Date
                <input type="datetime-local" id="explore-end-date" placeholder="yyyy-mm-dd'T'HH:MM">
            </label>
        </div>
    </div>
    <!-- <div class="row">
        <label>Unique Results?
            <input type="checkbox" id="explore-uniq" name="uniq" value="0">
        </label>
    </div> -->
    
    <div class="row">
        <div class="columns small-12 medium-8 small-centered medium-centered">
            <button class="button" type="button" onclick="submitExplore()" style="width: 100%">Submit</button>
        </div>
    </div>
</form>
<div class="row explore" style="display: none;">
    <div class="columns">
        <h5>Query:</h5>
    </div>
    <div class="columns">
        <pre id="explore-query"></pre>
    </div>
</div>
<br>
<div class="row explore" style="display: none;">
    <div class="columns">
        <h5>Result:</h5>
    </div>
    <div class="columns">
        <pre id="explore-result"></pre>
    </div>
</div>

{% endblock %}