#title-div {
    position: fixed;
    top: 0;
    left: 0;

    z-index: 10;

    display: flex;
    background-color: black;

    width: 100%;
    height: 200px;
    transition: height .375s ease;
}

#title-div.shrink {
    height: 100px;
}

#title-div h1 {
    color: white; 
    text-align: center;
    width: 100%;
    align-self: center;
    margin: auto;
    font-size: 700%; /* Used to be 10vw */
    font-family: 'Lobster', cursive;
    transition: font-size .375s ease;
}

#title-div a {
    color: white;
}

#title-div.shrink h1 {
    font-size: 350%; /* Used to be 10vw */
}

.fancy-font {
    font-family: 'Lobster', cursive;
}

.offset {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 200px;
    width: 100%;
}

.home-links {
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-weight: 500;
    font-size: 2vw;
}

.shadow {
    box-shadow: 0px 0px 25px #888;
}

.middle {
    width: 75%;
    margin: auto;
}

.team-img {
    height: auto;
    width: 100%;
    clip: rect(200px, 200px, 200px, 200px);
    margin: auto;
    border-radius: 50%;
}

.team-person-name {
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    font-size: 2vw;
}

.fa-github, .fa-archive {
    color: black;
}

.fa-plus, .fa-minus {
    color: green;
}

.vcardrow {
    display: flex;
}

.vitem {
    flex-grow: 1;
    text-align: center;
}
